

<div class="container">
      <!-- Example row of columns -->




 <div class="navbar navbar-default navbar-fixed-top">
		  
		  <div class="container">
			  
			  <div class="navbar-header">
				  
				  
				  
             <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				  
				 
				  
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  <span class="icon-bar"></span>
				  
				  </button>

				  
				    <a class="navbar-brand">Welcome <strong> <%= current_user.name %></strong>!</a>
				   
				  
			  </div> <!-- end of navbar-header -->
			  
			  
				  
				 
				  
				 
					  
						  
			   		

			   
						 
					
					  
					<a href="" class="navbar-brand centered">FantasySportsHub</a> 

      <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            
            
			<li><%= link_to "Add New Team", new_user_team_path %></li>
			<li><%= link_to "Home", user_path(current_user) %></li>
          </ul>
        
					  
				 	  
						  
	<div class="navbar-right">		   	
					
           

        <% if logged_in? %>

  

 	

 	   <%= button_to "Log Out", logout_path, method: 'delete', class: 'btn btn-danger button' %> 
 	   <% else %>


 	   <%= link_to "Log In", users_signup_path,  class: 'btn btn-danger button' %> 

 
   </div>
 	 

 	<% end %>
				</div>		 
					   
				  
			  </div> <!-- end of collapse navbar div -->
			  
		  </div> <!-- end of navbar container div -->
		  
	  </div> <!-- end of navbar div -->
<div class="container-full">  

	  <h1>Your Team Has Been Successfully Deleted!</h1>


</div> <!-- /container -->

<%= render "shared/footer" %>


  
 




